# Local development example (copy to .env.local and fill values)
STRAPI_URL=http://localhost:1337
STRAPI_API_TOKEN_READ=2a8c4b98326f43e2858c5f3c56687da6599c7347
STRAPI_API_TOKEN_FULL=79a9d5d5b9d0bdb1e6f8ab434e478ce2048606bd
